<%= form_for(@caterer) do |f| %>
  <% if @caterer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caterer.errors.count, "error") %> prohibited this caterer from being saved:</h2>

      <ul>
      <% @caterer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caterername %><br />
    <%= f.text_field :caterername %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
