<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.collection_select :department, Dept.order(:deptname),:deptname,:deptname, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br />
    <%= f.datetime_select :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :conference_room %><br />
    <%#= f.text_field :conference_room %>
    <%= f.collection_select :conference_room, Conferencerm.all,:number,:number, include_blank: false %>
  </div>
  <div class="field">
    <%= f.label :no_of_people %><br />
    <%= f.number_field :no_of_people %>
  </div>
  <div class="field">
    <%= f.label :cater %><br />
    <%#= f.text_field :cater %>
    <%= f.collection_select :cater, Caterer.all,:caterername,:caterername, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :food_allergy %><br />
    <%= f.text_field :food_allergy %>
  </div>
  <div class="field">
    <%= f.label :special_requests %><br />
    <%= f.text_area :special_requests %>
  </div>
  <div class="field">
    <%= f.label :credit_card %><br />
    <%= f.text_field :credit_card %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
